.chess-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 105px;
}

.chess-block {
    width: 70px;
    height: 70px;
    background-color: black;
    display: flex;    
    justify-content: center; 
    align-items: center;    
}

.chess-board-row {
    display: flex;
    flex-direction: row;
}

.piece {
    margin-bottom: 15px;
    font-size: 80px;
}